@tailwind base;
@tailwind components;
@tailwind utilities;

.volume-control::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 14px;
  height: 14px;
  border-radius: 999px;
  background: #4ade80;
}

.studio-table-row {
  display: flex;
  gap: 16px;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid #334155;
}

.studio-table-row:last-child {
  border: none;
}

.studio-table-row > *:nth-child(1) {
  width: 100%;
  max-width: 320px;
}

.studio-table-row > *:not(:first-child) {
  width: 100%;
  max-width: 128px;
}
